<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Name:</strong>
  <%= @author.first_name%>
  <%= @author.last_name%>
</p>

<p>
<%= link_to 'Edit Author', edit_author_path(@author) %> |
<%= link_to 'New Author', new_author_path %> |
<%= link_to 'Show Authors', authors_path %> |
<%= link_to 'Home', root_path %>
</p>